name: Deploy to Staging environment
on:
  push:
    branches:
      - main
      - ci-test
jobs:
  deployment-staging:
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://github.com
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: '^1.13.1' # The Go version to download (if necessary) and use.
    - run: go version
    - run: sudo apt install hub
    - run: go install github.com/Connehito/gdp@latest
    - run: touch ~/.config/hub
    - run: gdp deploy -d -f -t $(echo $GITHUB_SHA | rev | cut -c -5 | rev)
    - run: gdp deploy -f -t $(echo $GITHUB_SHA | rev | cut -c -5 | rev)
