name: GitHub Actions Demo
on:
  push:
    branches:
      - main
      - v**
  pull_request:
    branches:
      - main
      - v**
jobs:
  deployment-staging:
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://github.com
    steps:
      - name: deploy
        run: echo hogehoge
  deployment-production:
    needs: deployment-staging
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://github.com
    steps:
      - name: deploy
        run: echo hogehoge
